@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  position: relative;
}

body {
  background-color: #f5f5f5;
  color: #1b1b1b;
}

body.dark {
  background-color: #1b1b1b;
  color: #f5f5f5;
}

.input {
  @apply bg-white border border-gray-200 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 mt-2.5 font-bold shadow-card;
}

.textarea {
  @apply block p-2.5 w-full text-sm text-gray-900 bg-white rounded-lg border border-gray-200 focus:ring-blue-500 focus:border-blue-500 mt-2.5 font-bold shadow-card;
}

.btn {
  @apply text-white bg-gradient-to-r from-[#00c6ff] to-[#0072ff] focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center;
}

.bluee {
  @apply text-blue-500 dark:text-blue-500;
}
